.countries {
    &__list {
        display: grid;
        justify-items: center;
        gap: 5em;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding-block: 2em;
    }
}