.filter {
    position: relative;

    &__button {
        display: flex;
        align-items: center;
        gap: 1.5em;

        padding: 1em 1.5em;
        border-radius: 0.3em;
        background-color: var(--color-element-bg);

        box-shadow: var(--box-shadow);

        cursor: pointer;
    }

    &__title {
        &::selection {
            background-color: transparent;
            color: var(--color-text);
        }
    }

    &__list {
        display: grid;
        overflow: hidden;

        position: absolute;
        top: 105%;
        left: 0;
        width: 100%;

        margin-block: 0;
        padding: 0;
        
        background-color: var(--color-element-bg);
        border-radius: 0.3em;

        box-shadow: var(--box-shadow);
        list-style: none;

        transform: scaleY(0);
        transform-origin: top;
        transition: background-color .3s ease;
    }

    &__item {
        padding: 1em 1.5em;
        cursor: pointer;

        &:hover {
            background-color: var(--color-background);
        }
    }

    &__checkbox:checked+.filter__list {
        transform: scaleY(1);
    }
}